<div>
  <div align="right">
    <div  align="right" class="button button5" value="AddFood" (click)='accept()'>Add Item</div>
      <div  align="right" class="button button5" value="Logout" (click)='logout()'>Logout </div>
    </div>
    <table >
      <thead>
        <tr>
          <th>BuyerName</th>
          <th>Description</th> 
          <th>Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let customer of customers">
          <td>
            {{customer.bname}}
          </td>
          <td>
            {{customer.title}} 
          </td>
          <td>
            {{customer.rating}}
          </td>
        
        </tr>
      </tbody>
    </table>
</div>

 