<div class="container-fluid">
    <div id="header">
        <div class="bg-overlay"></div>
        <div class="center text-center">  
            <div class="banner">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiViPnAvs11o_US_1s_H8EieT_ehY_UNo1rxSyzVPkuGCIf1PLLA" width=10% height=10%>    
            </div>
            <div> 
                <div class="container"> 
                  <h1 class="rainbow"><marquee>WASTE &nbsp; FOOD &nbsp; SHARING</marquee> </h1>
                </div>

                <div class="w3-container" align="center">
                    <button class="button button5" routerLink="home" align="right"  role="button" routerLinkActive="active">Home</button>
                    <button class="button button5" routerLink="blogin" align="right"  role="button" routerLinkActive="active">Buyer</button>
                    <button class="button button5" routerLink="slogin" align="right"  role="button" routerLinkActive="active">Seller</button>
                </div>
            </div> 
        </div>    
    </div>
</div>
<div class="mid" >
    <router-outlet></router-outlet>
</div>
<div class="footer">
    <h3>ThankYou Keep more donating</h3>
</div>
      